# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [4]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [15]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
# Export file as a CSV
df.to_csv("df.csv, index=False")

# Insert column names

In [25]:
# Store filepath in a variable
df2 = "df.csv"

In [26]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
df2_df = pd.read_csv(df2, encoding="ISO-8859-1")

In [27]:
df2_df

   Unnamed: 0                     0                               1
0           0  Equatorial Diameter:                        6,792 km
1           1       Polar Diameter:                        6,752 km
2           2                 Mass:  6.39 Ã 10^23 kg (0.11 Earths)
3           3                Moons:             2 (Phobos & Deimos)
4           4       Orbit Distance:        227,943,824 km (1.38 AU)
5           5         Orbit Period:            687 days (1.9 years)
6           6  Surface Temperature:                   -87 to -5 Â°C
7           7         First Record:               2nd millennium BC
8           8          Recorded By:            Egyptian astronomers

In [33]:
# Drop columns 'Unnamed: 0'
df2_df.drop('Unnamed: 0', axis=1, inplace=True)

In [34]:
df2_df

                      0                               1
0  Equatorial Diameter:                        6,792 km
1       Polar Diameter:                        6,752 km
2                 Mass:  6.39 Ã 10^23 kg (0.11 Earths)
3                Moons:             2 (Phobos & Deimos)
4       Orbit Distance:        227,943,824 km (1.38 AU)
5         Orbit Period:            687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:               2nd millennium BC
8          Recorded By:            Egyptian astronomers

In [42]:
# Using .rename(columns={}) in order to rename columns
renamed_df = df2_df.rename(columns={"0":"Description", "1":"Data"})
renamed_df

            Description                            Data
0  Equatorial Diameter:                        6,792 km
1       Polar Diameter:                        6,752 km
2                 Mass:  6.39 Ã 10^23 kg (0.11 Earths)
3                Moons:             2 (Phobos & Deimos)
4       Orbit Distance:        227,943,824 km (1.38 AU)
5         Orbit Period:            687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:               2nd millennium BC
8          Recorded By:            Egyptian astronomers

#### Slipt column values into two separate columns

In [43]:
columnsplit = renamed_df["Description"].str.split(", ", expand=True)

In [44]:
columnsplit

                      0
0  Equatorial Diameter:
1       Polar Diameter:
2                 Mass:
3                Moons:
4       Orbit Distance:
5         Orbit Period:
6  Surface Temperature:
7         First Record:
8          Recorded By:

In [45]:
# columnsplit = df['City'].str.split(", ", expand=True)
# df = df.assign(City=columnsplit[0],State=columnsplit[1])
# df.head()

df3 = renamed_df.assign("Description"=columnsplit[0],"Data"=columnsplit[1])
df3

SyntaxError: keyword can't be an expression (<ipython-input-45-f60e2ee104c5>, line 5)

In [46]:
columnsplit = renamed_df['Description'].str.split(", ", expand=True)
df4 = renamed_df.assign(Description=columnsplit[0],Data=columnsplit[1])
df4

KeyError: 1

#### Reset an index

In [ ]:
df = df.reset_index(drop=True)
df.head()

## DataFrames as HTML

#### Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [ ]:
html_table = df.to_html()
html_table

#### You may have to strip unwanted newlines to clean up the table.

In [ ]:
html_table.replace('\n', '')

You can also save the table directly to a file.

In [ ]:
df.to_html('table.html')

In [ ]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html